/* imports */
@import "remark-callouts/style";
@import "remark-inline-footnotes/style";

/* rehype-autolink-headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  a.anchor,
  a.anchor:hover {
    color: inherit;
    position: relative;
    text-decoration: none;
  }

  a.anchor::before {
    content: "§";
    left: 0;
    opacity: 0;
    padding: 0 .2em;
    position: absolute;
    transform: translateX(-100%);
    transition: opacity .2s ease;
  }

  a.anchor:hover,
  &:target a.anchor {
    &::before {
      opacity: 1;
    }
  }

  @media (max-width: 800px) {
    a.anchor::before {
      left: 100%;
      transform: none;
    }
  }
}

/* remark-sidenotes */
.sidenote {
  > label,
  > span::before {
    color: var(--accent);
    font-weight: bold;
  }
}
