[package]
name = "rugby"
version = "0.1.0"
authors = { workspace = true }
edition = "2021"
repository = { workspace = true }
license = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chex = { workspace = true }
rugby-arch = { workspace = true }
rugby-core = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
png = { workspace = true }
rugby = { workspace = true, features = ["debug"] }

[features]
default = []
debug = ["rugby-core/debug"]

[profile.dev]
opt-level = 3

[workspace]
members = [
    "apis/*",
    "apps/*",
    "arch",
    "core",
    "crates/*",
]

[workspace.package]
authors = ["Zakhary Kaplan <me@zakhary.dev>"]
repository = "https://github.com/kaplanz/rugby"
license = "MIT OR Apache-2.0"

[workspace.dependencies]
advise = "0.1.0"
anyhow = "1.0.93"
chex = { version = "0.1.0", path = "crates/chex" }
clap = { version = "4.5.20", features = ["derive"] }
hexd = { version = "0.1.0", path = "crates/hexd" }
itertools = "0.13.0"
log = "0.4.22"
num = "0.4.3"
png = "0.17.14"
rugby = { version = "0.1.0", path = "." }
rugby-arch = { version = "0.1.0", path = "arch" }
rugby-cfg = { version = "0.1.0", path = "apis/cfg" }
rugby-core = { version = "0.1.0", path = "core" }
rugby-gbd = { version = "0.1.0", path = "apis/gbd" }
serde = { version = "1.0.214", features = ["derive"] }
size = "0.4.1"
thiserror = "2.0.3"
toml = "0.8.19"
wrange = { version = "0.1.0", path = "crates/wrange" }
xdir = "0.1.0"
