[package]
name = "gameboy-core"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/zakharykaplan/gameboy"
license = "MIT OR Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
enumflag = { version = "0.1.0", path = "../crates/enumflag" }
log = "0.4.17"
remus = "0.2.0"
thiserror = "1.0.37"
