---
title: Demo
permalink: /demo/
layout: main
---

<script type="module" src="rugby.js"></script>
<link rel="stylesheet" href="rugby.css">
<game-boy></game-boy>

<style>
  article {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }

  game-boy {
    margin: 1em;
  }
</style>
