---
title: Demo
permalink: /demo/
layout: main
---

<style>
  article {
    max-width: 100%;
  }
</style>

{% if demoAssets.js %}
<script type="module" src="/demo{{ demoAssets.js }}"></script>
{% endif %}
{% if demoAssets.css %}
<link rel="stylesheet" href="/demo{{ demoAssets.css }}">
{% endif %}

<game-boy></game-boy>
