@import "@primer/octicons/build/build.css";

blockquote.callout {
  --color: var(--accent);

  background: oklch(from var(--color) l c h / .2);
  border: 2px solid var(--color);
  border-radius: .5em;
  padding: .5em 1em;

  font-size: .8em;

  &::before {
    --width: 1.5em;

    display: block;
    content: var(--label);

    padding-inline-start: var(--width);
    margin-block-end: 16px;

    color: var(--color);
    font-weight: 500;

    background:
      linear-gradient(currentColor) no-repeat left center / var(--width) 100%;
    mask:
      var(--glyph) no-repeat left center / 1em,
      linear-gradient(#000) no-repeat var(--width) center / 100%;
  }

  &.note {
    --color: light-dark(#0969da, #4493f8);
    --glyph: url("@primer/octicons/build/svg/info-16.svg");
    --label: "Note";
  }

  &.tip {
    --color: light-dark(#1a7f37, #3fb950);
    --glyph: url("@primer/octicons/build/svg/light-bulb-16.svg");
    --label: "Tip";
  }

  &.important {
    --color: light-dark(#8250df, #ab7df8);
    --glyph: url("@primer/octicons/build/svg/report-16.svg");
    --label: "Important";
  }

  &.warning {
    --color: light-dark(#9a6700, #d29922);
    --glyph: url("@primer/octicons/build/svg/alert-16.svg");
    --label: "Warning";
  }

  &.caution {
    --color: light-dark(#d1242f, #f85149);
    --glyph: url("@primer/octicons/build/svg/stop-16.svg");
    --label: "Caution";
  }
}
