---js
{
  eleventyComputed: {
    title: (data) => {
      const title = "Rugby";
      return (data.title)
        ? `${data.title} | ${title}`
        : title
    },
  },
}
---

<!doctype html>
<html lang="en-CA">

<head>
  <!-- Metadata -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- Document -->
  <title>{{ title }}</title>
  <meta
    name="description"
    content="Cycle-accurate Game Boy emulation"
  />

   <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="https://cdn.zakhary.dev/style/latest/main.css"/>
  <link rel="stylesheet" type="text/css" href="/site/www/css/style.css"/>
</head>

<body>
  <header>
  </header>
  <main>{{ content | safe }}</main>
  <footer>
    <section>
      <span>
        <small>&copy; 2025 Zakhary Kaplan</small>
        <small>&bull;</small>
        <small><a href="/privacy">Privacy</a></small>
      </span>
    </section>
  </footer>
</body>

</html>
