/* Normal */
@font-face {
  font-family: "Cabin";
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  src: url("fonts/Cabin[wdth,wght].ttf") format("truetype");
}

/* Italic */
@font-face {
  font-family: "Cabin";
  font-weight: 100 900;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
  src: url("fonts/Cabin-Italic[wdth,wght].ttf") format("truetype");
}
