/* Reset */
@import "normalize.css";

/* Fonts */
@import "@fontsource-variable/cabin";
@import "@fontsource-variable/orbitron";

@font-face {
  font-family: "Pretendo";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("./assets/pretendo.ttf");
}

/* Style */
:root {
  background-color: light-dark(#a2c8c8, #2f4f4f);
}

html,
body,
main {
  height: 100dvh;
  overflow: hidden;
}

main {
  margin: 0 auto;
  place-content: center;
}
